#!/bin/sh

### BEGIN INIT INFO
# Provides:          docbin
# Required-Start:    $local_fs $remote_fs $network $syslog
# Required-Stop:     $local_fs $remote_fs $network $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: starts the docbin fast-cgi
# Description:       starts docbin using start-stop-daemon
### END INIT INFO

NAME=docbin
DESC=docbin

PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
DAEMON=/usr/bin/spawn-fcgi
FCGI=/usr/local/bin/docbin 
FCGI_ARG="-config /usr/local/etc/docbin/docbin.conf"
DAEMON_OPTS="-s /var/run/docbin.sock -U www-data -P /var/run/$NAME.pid  -- $FCGI $FCGI_ARG"

test -x $DAEMON || exit 0
test -x $FCGI || exit 0

set -e

. /lib/lsb/init-functions

case "$1" in
	start)
		echo -n "Starting $DESC: "
		start-stop-daemon --start --quiet \
		    --exec $DAEMON -- $DAEMON_OPTS || true
		echo "$NAME."
		;;

	stop)
		echo -n "Stopping $DESC: "
		start-stop-daemon --stop --quiet --pidfile /var/run/$NAME.pid || true
		echo "$NAME."
		;;

	restart)
		echo -n "Restarting $DESC: "
		start-stop-daemon --stop --quiet --pidfile /var/run/$NAME.pid || true
		sleep 1
		start-stop-daemon --start --quiet \
		    --exec $DAEMON -- $DAEMON_OPTS || true
		echo "$NAME."
		;;

	status)
		status_of_proc -p /var/run/$NAME.pid "$NAME" docbin && exit 0 || exit $?
		;;
	*)
		echo "Usage: $NAME {start|stop|restart|status}" >&2
		exit 1
		;;
esac

exit 0
